version: '3.8'

services:
  redis:
    image: redis:alpine
    container_name: redis_container
    ports:
      - "6379:6379"
    networks:
      - limiter-net

  # Prometheus Service
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml # Mount our config
    ports:
      - "9090:9090" # Web UI port
    networks:
      - limiter-net

  # Rate Limiter 1
  limiter-1:
    build: .
    image: my-rate-limiter:latest
    container_name: limiter_service_1
    ports:
      - "50051:50051"
      - "2112:2112" # <--- Expose metrics port
    environment:
      - REDIS_ADDR=redis:6379
    command: ["./rate-limiter", "--port=50051", "--redis_addr=redis:6379", "--metrics_port=2112"]
    depends_on:
      - redis
    networks:
      - limiter-net

  # Rate Limiter 2
  limiter-2:
    image: my-rate-limiter:latest
    container_name: limiter_service_2
    ports:
      - "50052:50052"
      - "2113:2112" # <--- Map host 2113 to container 2112 (avoid collision on host)
    environment:
      - REDIS_ADDR=redis:6379
    command: ["./rate-limiter", "--port=50052", "--redis_addr=redis:6379", "--metrics_port=2112"]
    depends_on:
      - redis
      - limiter-1
    networks:
      - limiter-net

networks:
  limiter-net:
    driver: bridge